@import "../../vars.css";

.container{
    background-color: var(--color-primary);
    margin: 100px 20%;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
}
.title{
    font-size: 35px;
}

.containForm{
    text-align: center;
}

.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.form input{
    width: 300px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 25px;
    outline: none;
}
.form button{
    margin-top: 25px;
    width: 150px;
    padding: 10px;
    font-family: var(--font-roboto);
    font-size: 20PX;
    color: white;
    border: 1px solid white;
    border-bottom: 5px solid white;
    border-right:  5px solid white;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-buttons);
}

.line{
    margin-top: 50px;
}

.options a{
    text-decoration: none;
    color: inherit;
}