@import "./vars.css";

body{
  background-color: var(--color-bg);
  background-image: url(../../../public/assets/Main/bg.jpg);
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-roboto);
}