@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*colores*/
    --color-key: #0c1618;
    --color-text: #faf4d3;
    --color-buttons: #d1ac00;
    --color-primary: #41bdb7;
    --color-secondary: #b098a4;
    --color-bg: #004643;

    /*tipografias*/
    --font-roboto: "Roboto";
}